<!DOCTYPE html>
<html>
  <head>
    <title>COVID - 19 Repo</title>
    <link rel="stylesheet" href="">
  </head>
  <body>
    <header>
        <div class = upper-tab>
            <div class="logo">
                <h1><strong>COVID - 19</strong><h1>
            </div> 
        </div> 
    </header>
    <hr>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>

    {% endif %}

    {% endwith %}
    
    {% block content %}
    
    {% endblock %}
    
  </body>
</html>



