{% extends "base.html" %}

{% block content %}

    <div class="below">
        <a class="ml-2" href="{{ url_for('covid_signup') }}">Sign Up</a>
    </div>
    
    <div class="below">
        <a class="ml-2" href="{{ url_for('covid_login') }}">Login</a>
    </div>


    <h3>List of questions registered:</h3>

    <div class="all-questions">
        
        <hr>

        {% for question in questions %}
            <span class="single-user"> {{question.question}}</span><br>
            <span class="single-user"> {{question.timestamp}}</span><br>
        {% endfor %}

        <hr>
        
    
    </div>

{% endblock %}
