
{% extends "base.html" %}

{% block content %}

    <div class="users-and-questions">
        <ul>
            <li><a class="users-all" href="{{ url_for('web_graph') }}">Graph</a></li><hr>
            <li><a class="users-all" href="{{ url_for('web_all_users') }}">All Users</a></li>
            <li><a class="users-all" href="{{ url_for('web_all_questions') }}">All Questions & Answers</a></li>
        </ul>
    </div>

    <h2>Sign Up</h2>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=50) }}
            
        </p>
        <p>
            {{ form.email.label }}<br>
            {{ form.email(size=50) }}
        
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=50) }}
            
        </p>
        <p>{{ form.submit() }}</p>
    </form>

    <div class="below">
        Already have an account? <a class="ml-2" href="{{ url_for('web_login') }}">Login</a>
    </div>

    <img src="../static/covid-image.png" width="1300" height="500" alt="Covid graph image" ><br>

{% endblock %}








