{% extends "base.html" %}

{% block content %}

    <div class="below">
        <a class="ml-2" href="{{ url_for('web_logout') }}">Logout</a>
    </div>

    {%if questions %}

        {% for question in questions %}
            <span class="single-user"> {{question.question}}</span><br>
            <span class="single-user"> {{question.timestamp}}</span><hr>
            
            <div class="below">
                <a class="ml-2" href="{{ url_for('web_user_question_answer', user_id = user.id, question_id = question.id) }}">View Answer</a>
            </div>

            <div class="below">
                <a class="ml-2" href="{{ url_for('web_user_question_edit', user_id = user.id, question_id = question.id) }}">Edit Question</a>
            </div>

            <div class="below">
                <a class="ml-2" href="{{ url_for('web_user_question_delete', user_id = user.id, question_id = question.id) }}">Delete Question</a>
            </div>
            <hr>
        {% endfor %}

    {% else %}

        <h2>No Questions</h2>

    {% endif %}

{% endblock %}
