{% extends "base.html" %}

{% block content %}

    <div class="users-and-questions">
        <ul>
            <li><a class="users-all" href="{{ url_for('web_all_users') }}">All Users</a></li>
            <li><a class="users-all" href="{{ url_for('web_all_questions') }}">All Questions & Answers</a></li>
        </ul>
    </div>

    <ul>
        <li>
            <div class="below">
                <a class="ml-2" href="{{ url_for('web_signup') }}">Sign Up</a>
            </div>
        </li>
        <li>
            <div class="below">
                <a class="ml-2" href="{{ url_for('web_login') }}">Login</a>
            </div>
        </li>   
        <br>
    </ul>

    <h2>List of users registered:</h2>

    <div class="all-users">
        
        {% for user in users %}
            <h3><span class="single-user"> {{user.username}}</span><h3>
            <h5><span class="single-user"> {{user.email}}</span><h5><hr>
        {% endfor %}

    </div>

{% endblock %}
